/detection_entropy/media/audio
/detection_entropy/media/docs/denorm.csv
/detection_entropy/media/docs/entropy.csv
/dataset_creation/dataset
/species_classification/spectrograms
/species_classification/spectrograms_full_plot
/species_classification/trained_models
.mmd-venv
code_references
dataset_creation/master_tapes
dataset_creation/__pycache__